.idea
.sass-cache
assets
languages
template_parts
screenshot.png
404.php
content.php
content-gallery.php
content-image.php
content-quote.php
content-video.php
page-about.php
page-contact_us.php
searchform.php
search.php
archive.php
comments.php
footer.php
front-page.php
header.php
home.php
index.php
sidebar.php
single-post.php
style.css